
#stats {
	display: none;
}


.Books {
	display: none;
}
.Books.active {
	display: block;
}
.Books {
	height: auto; 
	vertical-align: top;
	border-style: solid;
	border-width: 10px;
	border-color: #8B4513;
	border-bottom: auto;
	background-color: #FFDEAD;
}
.Books p {
	width: 80%;
	margin: 10px auto; 
}
html, body {
	height: 100%;
}
body { 
	background-color: #FFE4B5;
}
h1	{
	color: 	#A0522D;
	text-align: center;
} 
h2	{
	color: white;
	text-align: center;
	font-style: helvetica;
	font-size: 350%;
} 
h3 {
	text-align: center;
	color: grey;
}
p {
	color: black;
	text-align: justify;
}
button {
	color: white;
	width: 100px;
	height: 60px;
}
.Books button {
	font-size: 12px;
}
a{
	color: 	#A0522D;
	text-decoration: none;
	font-size: 18px;
	padding-bottom: 10px;
}
img{
	display: block;
	width: 150px;
	height: 225px;
	margin: 0px auto;
	margin-top: 20px;
}
/*Pagina Resultados*/
.resul {
	background-color: #D2691E;
	text-align: center;
	margin-top: 2px;
	font-style: comic;
	font-size: 150%;

}
.resul p {
	text-align: center;
	font-size: 200%;
	background-color: #000000;
	color: white;
}

/*Animacao Titulo*/

/* 3D switched off on viewports less than 993px wide to preserve ledgibility */
a.marquee { 
	perspective: 500px;
	font-size: 0;
	font-family: Agency, sans-serif;
	text-align: center;
}
.marquee div {
	display: inline-block; 
	height: 10rem; 
	width: 30rem;
	position: center;
}
.marquee div:first-of-type { 
	background: #e5233e;
	transform-origin: top right;
	transform: rotateY(-40deg);
	color: #fff;
}
.marquee div:last-of-type {
	background: #b31e31;
	transform-origin: top left;
	transform: rotateY(45deg);
	color: #f8c9d9;
}
.marquee div { 
	font-size: 8rem;
	overflow: hidden;
}
.marquee div span { 
	position: absolute; 
	width: 400%;	
	line-height: 1.4;
}
@keyframes leftcrawl {
	to { transform: translateX(-120rem); }
}
@keyframes rightcrawl {
	to { transform: translateX(-150rem); }
}
.marquee div:first-of-type span {
	transform: translateX(40rem);
	animation: leftcrawl 12s linear infinite;
	text-shadow: 4px 0px 4px rgba(0,0,0,0.3);
}
.marquee div:last-of-type span {
	transform: translateX(10rem);
	animation: rightcrawl 12s linear infinite;
}
/*Fim titula animacao*/


/*Barra de navegacao */
.topnav {
  overflow: hidden;
  background-color: #333;
}
.containerNavBar {
	padding: 10px 0;
}

.topnav a.left {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}
.topnav a.about {
	float: right;
	  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a.activebar {
    background-color: #4CAF50;
    color: white;
}
/*Fim barra de navegacao*/
