#stats {
	display: none;

}
.Books {
	display: none;
}
.Books.active {
	display: block;
}
.Books {
	height: auto; 
	vertical-align: top;
	border-style: solid;
	border-width: 10px;
	border-color: #8B4513;
	border-bottom: auto;
	background-color: #FFDEAD;
}
.Books p {
	width: 80%;
	margin: 10px auto; 
}
html, body {
	height: 100%;
}
body { 
	background-color: #FFE4B5;
}
h1	{
	color: 	#A0522D;
	text-align: center;
} 
h2	{
	color: white;
	text-align: center;
	font-style: helvetica;
	font-size: 350%;
} 
h3 {
	text-align: center;
	color: grey;
}
p {
	color: black;
	text-align: justify;
}
button {
	color: white;
	width: 100px;
	height: 60px;
}
.Books button {
	font-size: 12px;
}
a{
	color: 	#A0522D;
	text-decoration: none;
	font-size: 18px;
	padding-bottom: 10px;
}
img{
	display: block;
	width: 150px;
	height: 225px;
	margin: 0px auto;
	margin-top: 20px;
}
/*Pagina Resultados*/
.resul {
	background-color: #D2691E;
	text-align: center;
	margin-top: 2px;
	font-style: comic;
	font-size: 150%;

}
.resul p {
	text-align: center;
	font-size: 200%;
	background-color: #000000;
	color: white;
}

/*Animacao Titulo*/
/* 3D switched off on viewports less than 993px wide to preserve ledgibility */
a.marquee { 
	display: center;
}


@font-face {
  font-family: Agency;
   src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/agency-fb-bold.woff);
}


.marquee div { 
	font-size: 8rem;
	overflow: hidden;
}
.marquee div span { 
	position: absolute; 
	width: 400%;	
	line-height: 1.4;
}
@keyframes leftcrawl {
	to { transform: translateX(-1220rem); }
}
@keyframes rightcrawl {
	to { transform: translateX(-150rem); }
}
.marquee div:first-of-type span {
	transform: translateX(40rem);
	animation: leftcrawl 12s linear infinite;
	text-shadow: 4px 0px 4px rgba(0,0,0,0.3);
}
.marquee div:last-of-type span {
	transform: translateX(10rem);
	animation: rightcrawl 12s linear infinite;
}
form { 
  margin-top: 3rem; 
  background: #334;
  padding: 1rem;
  text-align: center;
  color: #fff;
}
input[type="text"] { 
  padding: .5rem; 
  font-size: 1.2rem; 
  width: 22rem; 
}
input[type="text"] {
  padding: .5rem;
}
label {
  margin: 1rem;
}
@media all and (max-width: 993px) {
  .marquee {
    perspective: none;
  }
  .marquee div:last-of-type { 
    opacity: 0; 
    height: 0;
  }
  .marquee div:first-of-type {
    width: 80%;
  }
}
/*Fim titula animacao*/

/*Barra de navegacao */
.topnav {
  overflow: hidden;
  background-color: #333;
}
.containerNavBar {
	padding: 10px 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}
.topnav a.about {
	float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.activebar {
    background-color: #4CAF50;
    color: white;
}
/*Fim barra de navegacao*/
