.book{
	width:200px;
	height:200px;
	background:black;
	color:white;
	margin: 20px 0px;
	display: none;
}

.book.active{
	display: block;
}

#bookContainer{
	display: none;
}

#endPage{
	display: none;
}

